@import url(./root.css);

html, body {
    background-color: var(--background);
    font-family: var(--default-font) !important;
    color: var(--text);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: var(--default-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    

}

ul {
    padding-left: 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
    color: var(--text);
    font-weight: 400;
    flex-direction: row;
}