@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

html, body {
    background-color: var(--background);
    font-family: var(--default-font) !important;
    color: var(--text);
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: var(--display-mode);
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: inline-block;
}

ul, li {
    margin-left: 10px;
    display: flex;
    text-decoration: none;
    list-style: none;
    color: var(--text);
    font-weight: 400;
    flex-direction: row;
}

.info {

}

header_img {
    justify-content: right;
    max-width: fit-content;
}

#highlight {
    color: var(--highlight);
}